html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button {
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px; 
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(240, 240, 240);
  margin: 0;
  padding: 4px 6px;
  text-align: center;
  transition: all 200ms;
}

button:hover {
  color: rgb(255, 108, 47);
  background-color: rgb(40, 40, 40);
  
}